#envelope {
  position: relative;
  width: 280px;
  height: 180px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(214, 191, 242, 0.2);
}

.front {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 3;
}
.wrap_books{
  opacity: 1;
  width: 100%;
  max-width: 600px;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}
.wrap_books .wrap_books_child{
  padding: 10px;
  box-sizing: border-box;
  width: 85%;
  height: 70vh;
  background-color: #fff;
  margin: 40px auto;
  border-radius: 12px;
 box-shadow: 0px 10px 20px 0px rgba(255, 255, 255, 0.15);

}
.removesDispaly {
  display: none;
}
.removes {
  color: #999;
  cursor: pointer;
  padding: 5px 10px;
  height: 30px;
  width: 30px;
}
 
.removes::before {
  content: "\2716";
  display: inline-block;
  transition: all 0.4s;
  transform: rotate(0deg);
}
 
.removes:hover::before {
  color: #2c3e50;
  transform: rotate(90deg);
}
.love_wrap{
  width: 100%;
  height: 60px;
  position:absolute;
  bottom: 10%;
  left: 0;
  display: flex;
  justify-content: space-around;
}
.love_wrap >img{
  width: 50px;
  height: auto;
}
/* .wrap_books img {
  border-radius: 8px;
  width: 330px;
  height: auto;
  position: absolute;
  left: 6%;
  top: 60px;
 
} */
.flap {
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-bottom: 82px solid transparent;
  /* a little smaller */
  border-top: 98px solid #f8baba;
  /* a little larger */
  -webkit-transform-origin: top;
          transform-origin: top;
}

.pocket {
  border-left: 140px solid #fff;
  border-right: 140px solid  #fff;
  border-bottom: 90px solid #f6f6f6;
  border-top: 90px solid transparent;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.letter {
  position: relative;
  background-color: #fff;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  top: 5%;
  border-radius: 6px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
}

.letter:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(255, 255, 255, 0)), color-stop(55%, rgba(215, 227, 239, 0.7)), to(#d7e3ef));
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 25%, rgba(215, 227, 239, 0.7) 55%, #d7e3ef 100%);
}

.words {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 14%;
  background-color: #EEEFF0;
}

.words.line1 {
  top: 15%;
  width: 20%;
  height: 7%;
}

.words.line2 {
  top: 30%;
}

.words.line3 {
  top: 50%;
}

.words.line4 {
  top: 70%;
}

.open .flap {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transition: z-index .6s, -webkit-transform .4s ease;
  transition: z-index .6s, -webkit-transform .4s ease;
  transition: transform .4s ease, z-index .6s;
  transition: transform .4s ease, z-index .6s, -webkit-transform .4s ease;
  z-index: 1;
}

.close .flap {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: z-index 1s, -webkit-transform .4s .6s ease;
  transition: z-index 1s, -webkit-transform .4s .6s ease;
  transition: transform .4s .6s ease, z-index 1s;
  transition: transform .4s .6s ease, z-index 1s, -webkit-transform .4s .6s ease;
  z-index: 5;
}

.close .letter {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: z-index 1s, -webkit-transform .4s ease;
  transition: z-index 1s, -webkit-transform .4s ease;
  transition: transform .4s ease, z-index 1s;
  transition: transform .4s ease, z-index 1s, -webkit-transform .4s ease;
  z-index: 1;
}

.open .letter {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  -webkit-transition: z-index .6s, -webkit-transform .4s .6s ease;
  transition: z-index .6s, -webkit-transform .4s .6s ease;
  transition: transform .4s .6s ease, z-index .6s;
  transition: transform .4s .6s ease, z-index .6s, -webkit-transform .4s .6s ease;
  z-index: 2;
}

.hearts {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 2;
}

.heart {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #D00000;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.close .heart {
  opacity: 0;
  -webkit-animation: none;
          animation: none;
}

.a1 {
  left: 20%;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 1;
  -webkit-animation: slideUp 4s linear 1,  sideSway 2s ease-in-out 4 alternate;
  -moz-animation: slideUp 4s linear 1,  sideSway 2s ease-in-out 4 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.a2 {
  left: 55%;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-animation: slideUp 5s linear 1,  sideSway 4s ease-in-out 2 alternate;
  -moz-animation: slideUp 5s linear 1,  sideSway 4s ease-in-out 2 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.a3 {
  left: 10%;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 1;
  -webkit-animation: slideUp 7s linear 1,  sideSway 2s ease-in-out 6 alternate;
  -moz-animation: slideUp 7s linear 1,  sideSway 2s ease-in-out 6 alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

@-webkit-keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -600px;
  }
}
@keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -600px;
  }
}
@-webkit-keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
@keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
html{max-width: 600px;padding: 0;margin: 0;}
body {
  /* background-color: #adbfff; */
  max-width: 600px;
  background-image: url('https://huazizhanye.oss-cn-beijing.aliyuncs.com/biaobai_back.png');
  background-size: 100%;
  padding: 0;margin: 0;
  background-repeat :repeat-y;
}

.envlope-wrapper {
  height: 380px;
  position: relative;
}

.reset {
  text-align: center;
}

.reset button {
  font-weight: 800;
  font-style: normal;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  -webkit-appearance: none;
  background-color: transparent;
  border: solid 2px rgb(222, 149, 223);
  border-radius: 4px;
  color: rgb(222, 149, 223);
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  line-height: 1em;
  text-decoration: none;
  min-width: 120px;
}

.reset button:hover {
  background-color: rgb(222, 149, 223);
  color: #fff;
}



.bondsman {
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.div {
  transform: translate(-50%, -50%);
  position: fixed;
  direction: revert;
}

.span {
  position: fixed;
  width: 2px;
  background: #0a0a0a;
  height: 10px;
}